name: Build and Push Multi-Arch to Docker Hub

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login using your Secrets
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build and Push
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64
          push: true
          # Replace 'your-username' with your actual Docker Hub username
          tags: |
            1juhuang2/rknn-exporter:latest
            1juhuang2/rknn-exporter:${{ github.sha }}

      - name: List Packages
        run: pip list
